.workspace-box, .workspace-fullscreen {
  background-color: white;
}
.workspace-box {
  padding: 2% 3%;
  border-radius: 20px;
  min-height: 400px;
  min-width: 280px;
}

.title {
  font-size: larger;
  font-weight: 700;
  font-family: var(--refs-main-ffamily);
  color: var(--refs-base-color);
  margin-right: 20px;
  margin-bottom: 20px;
}
