.page {
  width: auto;
  height: auto;
  overflow-y: auto;
  min-width: 10px;
  max-width: 600px;
}

.page-header {
  margin: 5px 0px 15px 10px !important;
}
.page-header-no-caption {
  margin: 5px 0px 25px 10px !important;
}

.page-title, .page-subtitle, .page-caption, .page-text {
  font-family:  var(--refs-main-ffamily);
}
.page-title {
  font-size: 25px;
}
.page-subtitle {
  font-size: 17px;
}
.page-caption, .page-text {
  margin: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
