.form-box, .form-fullscreen {
  background-color: white;
}
.form-box {
  padding: 2% 3%;
  border-radius: 4%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--refs-main-ffamily);
  text-align: center;
  word-wrap: break-word;
  width: 90%;
}

.logo {
  width: 60px;
  margin: 5%;
}

.field {
  width: 90%;
  margin: 0px 20px !important;
}

.button {
  color: white;
  font-size: 18px;
  border-radius: 0px !important;
  background-color: var(--refs-hf-color);
  margin: 10%;
}
