.button {
  width: 80%;
  margin: 10px 10px 0px 10px;
  padding: 5px 0px;
  border: solid 2px black;
}

.button-title, .button-subtitle {
  font-weight: 500;
  white-space: normal;
}
.button-title {
  font-size: large;
  line-height: 20px;
  margin: 5px;
}
.button-subtitle {
  font-size: small;
  margin-top: 0px;
  line-height: 20px;
}
