.board {
  column-gap: 10px;
}

.card {
  width: auto;
  min-width: 10px;
  max-width: 400px;
  margin-bottom: 10px;
  break-inside: avoid;
}

.card-header {
  margin: 5px 0px 15px 10px !important;
}
.card-header-no-caption {
  margin: 5px 0px 25px 10px !important;
}

.card-avatar {
  width: 60px;
  height: 60px;
  margin: 2px
}

.card-title, .card-subtitle, .card-caption, .card-text {
  font-family:  var(--refs-main-ffamily);
}
.card-title {
  font-size: 25px;
}
.card-subtitle {
  font-size: 17px;
}
.card-caption, .card-text {
  margin: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.card-divider {
  width: 50% !important;
  margin-bottom: 50px !important;
}

@media only screen and (min-width: 1500px) {
  .board {
    column-count: 4;
  }
}
@media only screen and (max-width: 1499px) and (min-width: 1100px) {
  .board {
    column-count: 3;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 700px) {
  .board {
    column-count: 2;
  }
}
@media only screen and (max-width: 699px) and (min-width: 0px) {
  .board {
    column-count: 1;
  }
}
